<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Ghibli App</title>

    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
</head>
<body>
<p th:each="person : ${people}" th:text="${person.name}"/>
<p th:each="person : ${id}" th:text="${person.id}"/>
<form id="openidLoginOptionForm" action="j_spring_openid_security_check" method="post" target="_top">
    <input id="openid_identifier" name="openid_identifier" maxlength="100" type="text" />
    <input type="submit" />
</form>
<form action="j_spring_openid_security_check" id=”googleOpenId” method="post" target="_top">
    <input id="openid_identifier" name="openid_identifier"
           type="hidden"
           value="https://www.google.com/accounts/o8/id"/>
    <img src="/img/social/google.png" onClick="submitForm('googleOpenId')”/>
</form>

</body>
</html>
